.summary{
    background:#383838;
    color: white;
    position: relative;
    margin:auto;
    margin-top: -10rem;
    width:90%;
    max-width: 45rem;
    padding:1rem;
    border-radius: 1rem;
    text-align: center;
  }
  .summary h2 {
    font-size: 2rem;
    margin-top:0.2rem;
  }